 <!DOCTYPE html>
<html>

	<head>
	
		<title>OneBite</title>

		<link href="icon.gif" type="image/gif" rel="shortcut icon" />
		
	</head>

	<body>
		<div><%= key %></div>
		<div><%= data[1] %></div>
	</body>
	
</html>